FORMAT: 1A
HOST: https://as.production.imp.mobilitaetsdienste.de:8443/imp-endpoint

# IMP North. Implemented & Dredd testable

# Group Car Sharing

## Car Sharing Locations Collection. Basic Info [/imp-endpoint/api/V1/Resources/CarSharing/All?lat={lat}&lng={lng}&radius={radius}] 

This collection contains list of available car sharing locations, both free-floating and/or station-based specified by the query parameters, 
with basic information and a URI to acquire more details.
In case of station-based cars, only the URI of the Car Sharing station is returned; 
in case of free-floating cars, the URI to the car itself.

The data structure contains the following attributes:

attribute | json data type | comments
--- | --- | ---
actions | Array | 
id | Number | 
description | String | License ID or approximate location
type | String | 
uri | URI | URI
location | Object | Standard WGS 84 for polar coordinates { "latitude":Number, "longitude":Number, "system": ENUM{"WGS_84","GK4","ETRS89",...}  }
provider | String | 
operator | String | 

### Getting all car sharing locations [GET]
@testable

+ Parameters
    + lat (string, `52.52`) ... String `lat` latitude value. Has example value.
    + lng (string, `13.39`) ... String `lng` longitude value. Has example value.
    + radius (string, `1000`) ... String `radius` longitude value. Has example value.
    
        
        
+ Response 200 (application/json)

        {
            "metaData": [
                {
                  "serviceAlias": "flinkster",
                  "lastUpdateTime": "2014-05-05T13:38:25+0200",
                  "messages": []
                },
                {
                  "serviceAlias": "car2Go",
                  "lastUpdateTime": "2014-05-05T13:38:25+0200",
                  "messages": []
                }
              ],
              "resources": [
                {
                  "actions": [
                    {
                      "name": "book",
                      "method": "POST",
                      "uri": "Resources/CarSharing/Stations/889/Process?action=book"
                    }
                  ],
                  "id": 889,
                  "description": "Buchholzer Straﬂe",
                  "type": "Stations",
                  "uri": "Resources/CarSharing/Stations/889",
                  "location": {
                    "latitude": 52.5450682735031,
                    "longitude": 13.414923548698425,
                    "system": "WGS_84"
                  },
                  "provider": "FlinksterDB",
                  "operator": "FlinksterDB"
                },
                {
                  "actions": [
                    {
                      "name": "book",
                      "method": "POST",
                      "uri": "Resources/CarSharing/Stations/890/Process?action=book"
                    }
                  ],
                  "id": 890,
                  "description": "U-Bahnhof Warschauer Straﬂe",
                  "type": "Stations",
                  "uri": "Resources/CarSharing/Stations/890",
                  "location": {
                    "latitude": 52.505210141223934,
                    "longitude": 13.450025618076324,
                    "system": "WGS_84"
                  },
                  "provider": "FlinksterDB",
                  "operator": "FlinksterDB"
                }
            ]
        }        



# Group Some Other Group

## Bla Collection. Basic Info [/imp-endpoint/api/V1/Resources/CarSharing/Bla] 

This collection contains list of available car sharing locations, both free-floating and/or station-based specified by the query parameters, 
with basic information and a URI to acquire more details.
In case of station-based cars, only the URI of the Car Sharing station is returned; 
in case of free-floating cars, the URI to the car itself.

The data structure contains the following attributes:

attribute | json data type | comments
--- | --- | ---
actions | Array | 
id | Number | 
description | String | License ID or approximate location
type | String | 
uri | URI | URI
location | Object | Standard WGS 84 for polar coordinates { "latitude":Number, "longitude":Number, "system": ENUM{"WGS_84","GK4","ETRS89",...}  }
provider | String | 
operator | String | 

### Getting all car sharing locations [GET]
@testable

        
+ Response 200 (application/json)

        {
            "metaData": [
                {
                  "serviceAlias": "flinkster",
                  "lastUpdateTime": "2014-05-05T13:38:25+0200",
                  "messages": []
                },
                {
                  "serviceAlias": "car2Go",
                  "lastUpdateTime": "2014-05-05T13:38:25+0200",
                  "messages": []
                }
              ],
              "resources": [
                {
                  "actions": [
                    {
                      "name": "book",
                      "method": "POST",
                      "uri": "Resources/CarSharing/Stations/889/Process?action=book"
                    }
                  ],
                  "id": 889,
                  "description": "Buchholzer Straﬂe",
                  "type": "Stations",
                  "uri": "Resources/CarSharing/Stations/889",
                  "location": {
                    "latitude": 52.5450682735031,
                    "longitude": 13.414923548698425,
                    "system": "WGS_84"
                  },
                  "provider": "FlinksterDB",
                  "operator": "FlinksterDB"
                },
                {
                  "actions": [
                    {
                      "name": "book",
                      "method": "POST",
                      "uri": "Resources/CarSharing/Stations/890/Process?action=book"
                    }
                  ],
                  "id": 890,
                  "description": "U-Bahnhof Warschauer Straﬂe",
                  "type": "Stations",
                  "uri": "Resources/CarSharing/Stations/890",
                  "location": {
                    "latitude": 52.505210141223934,
                    "longitude": 13.450025618076324,
                    "system": "WGS_84"
                  },
                  "provider": "FlinksterDB",
                  "operator": "FlinksterDB"
                }
            ]
        }        



