FORMAT: 1A
HOST: https://cluster.production.imp.mobilitaetsdienste.de:8443

# IMP North. Implemented & Dredd testable
This IMP API version 2.
Host V2: https://das-muc-staging-v2.jelastic.dogado.eu:4848
Host V1: https://das-muc-staging-imp.jelastic.dogado.eu:4848
cml host: http://cml-staging.jelastic.dogado.eu only IMR is working


# Group Bike Sharing
This is a group of all bike sharing related rest resources
    

## Bike Sharing Stations [/imp-endpoint/api/V2/Resources/BikeSharing/Stations?lat={lat}&lng={lng}&radius={radius}]    
This collection contains a list of all bike sharing stations in an area of interest specified by query parameters. (for station-based bike sharing)
Note: The area of interest can be defined as:

* a bounding circle (lat={lat}&lng={lng}&radius={radius})
* a bounding box (left_lower_lat={min_lat}&left_lower_lng={min_lng}&right_upper_lat={max_lat}&right_upper_lng={max_lng})

The If-Modified-Since (optional) can be set to a specific date-time in order to request only resources modified after a particular date-time.
Date time in HTTP date format for e.g. Wed, 09 Apr 2008 23:55:38 GMT

The data structure of the response contains the following attributes: 

attribute | json data type | comments
--- | --- | ---
metadata | Object | List of service providers and the last update times and failures if any [{serviceAlias:"XXX",lastUpdateTime:dd-mm-yyyyThhmmssZ,messages:[]}]
--- | --- | ---
resources | Array | Array of resources within the search area
--- | --- | ---
actions | Array | Available actions
id | Number | Internal bike sharing station identification number
description | String | Approximate location
type | String | Type of bike sharing station
uri | URI | URI to request more details.
location | Object | Standard WGS 84 for polar coordinates { "latitude":Number, "longitude":Number, "system": ENUM{"WGS_84","GK4","ETRS89",...}  }
provider | String | service provider
availability | Double | Availability in percentage
operator | String | resource operator
phoneNo | String | 
operatorURI | String |
operatorName | String | 
address | Object | 
numberOfBikes | Number | 
numberOfFreeBikes | Number | 
services | Array | 
modFlag | Enum | Type of modification to resource [New / Modified / Relocated / Deleted]. This attribute is present only when the If-Modified-Since header is passed in the request  

Parts of the data structure might be omitted if the information is not available. 
    

### Getting bikes [GET]
@testable

+ Parameters
    + lat (number, `52.52`) ... latitude value. Has example value.
    + lng (number, `13.39`) ... longitude value. Has example value.
    + radius (number, `5000`) ... radius value. Has example value.
    
+ Request

    + Headers
    
            If-Modified-Since: Wed, 09 Apr 2008 23:55:38 GMT 
        
+ Response 200 (application/json)

        {
            "metaData": [
                {
                    "serviceAlias": "callabike",
                    "lastUpdateTime": "2014-07-10T14:23:11+02:00",
                    "messages": []
                },
                {
                    "serviceAlias": "nextbike",
                    "lastUpdateTime": "2014-07-10T14:11:02+02:00",
                    "messages": []
                }
            ],
            "resources": [ ]
        }

# Group Journey Planner. IMR
This is a group of all IMR journey planner related rest resources.


## List of Trip Proposals with Basic Info. Intermodal Router [/imp-endpoint/api/V2/TripProposals/IMR] 

This collection contains a list of trip proposals with basic information for specified trip criteria. Note: the trip proposals can be multimodal or intermodal, depending on which routing service the user is subscribed to.

The data structure of collection contains a list of trip proposals. Each trip proposal contains the following attributes:

attribute | json data type | comments
--- | --- | ---
url | URI | URI to request more details
origin | Object | start point of the proposed trip
destination | Object | endpoint of the proposed trip
trafficTypes | Array | list of traffic types used in the proposed trip. Possible values: Bike, Bus, Car, CityTrain, Ferry, Metro, Other, RegioTrain, Unknown, Train, Tram, Walk, UBahn. trafficType Other is used in the segments for car rental/parking
description | String | description of the trip proposal
costs | Array | list of costs for the proposed trip including distance, duration, price, etc.

    
+ Model (application/json)

    + Body
    
            {
                  "metaData": [
                    {
                      "serviceAlias": "vmzImrRouting",
                      "lastUpdateTime": "2014-12-23T12:35:43+00:00",
                      "messages": []
                    }
                  ],
                  "tripProposals": [
                    {
                      "url": "TripProposals/IMR/11873",
                      "origin": {
                        "location": {
                          "type": "Point",
                          "coordinates": [
                            13.4113422,
                            52.5218455
                          ]
                        },
                        "address": "Dircksenstraße, 10178 Berlin, Germany",
                        "time": "2013-07-23T13:10:00+00:00"
                      },
                      "destination": {
                        "location": {
                          "type": "Point",
                          "coordinates": [
                            13.3194514,
                            52.5635387
                          ]
                        },
                        "address": "Meteorstraße 40, 13405 Berlin, Germany",
                        "time": "2013-07-23T13:43:26+00:00"
                      },
                      "trafficTypes": [
                        "OwnBike"
                      ],
                      "description": null,
                      "costs": {
                        "distance": {
                          "unit": "Meter",
                          "value": 8929
                        },
                        "duration": {
                          "unit": "Minute",
                          "value": 33.43333333333333
                        },
                        "price": {
                          "unit": "Euro",
                          "value": 0
                        },
                        "emission": {
                          "unit": "Gram",
                          "value": 0
                        },
                        "ticketPrice": null
                      }
                    },
                    {
                      "url": "TripProposals/IMR/11874",
                      "origin": {
                        "location": {
                          "type": "Point",
                          "coordinates": [
                            13.4113422,
                            52.5218455
                          ]
                        },
                        "address": "Dircksenstraße, 10178 Berlin, Germany",
                        "time": "2013-07-23T13:10:00+00:00"
                      },
                      "destination": {
                        "location": {
                          "type": "Point",
                          "coordinates": [
                            13.3194514,
                            52.5635387
                          ]
                        },
                        "address": "Meteorstraße 40, 13405 Berlin, Germany",
                        "time": "2013-07-23T15:17:54+00:00"
                      },
                      "trafficTypes": [
                        "Other",
                        "BikeSharing",
                        "Walk"
                      ],
                      "description": null,
                      "costs": {
                        "distance": {
                          "unit": "Meter",
                          "value": 10264
                        },
                        "duration": {
                          "unit": "Minute",
                          "value": 127.9
                        },
                        "price": {
                          "unit": "Euro",
                          "value": 0.024444444444444442
                        },
                        "emission": {
                          "unit": "Gram",
                          "value": 0
                        },
                        "ticketPrice": null
                      }
                    }
                ]
            }



### Getting Trip Proposals by IMR Planner  [POST]
@testable

Selection criteria for trip proposals is specified in the request body as described in the sample request with the following attributes:

attribute | json data type | comments
--- | --- | ---
origin | Object | start point specified by a geo location (optionally can also include starttime). (addresses can be converted into geo locations by means of "GET /Resources/GeoLocations")
destination | Object | end point specified by a geo location (optional can also include endtime). Note if time in the origin is specified, time in the destination is discarded! If no time is specified current time is taken.
viapoints | Array of Objects | list of geolocations the route should pass
costfunctions | Array of Objects | list of cost factors, (such as Distance, Duration, Price, Emission), each with a percentual weight. Sample custfunction: {"costType":"Duration","percentage":"100"}
ownVehicles | Array of Objects | list of own vehicles which should be included into trip proposal calculation. Sample object value {"trafficType":"Car", "useParking":true,"useParkAndRide":false, "location":{"longitude":13.064472900000055,"latitude":52.3905689,"system":"WGS84"}}
userId | String | traveller id that requests a trip. Note: currently not used by IMP and can be any string
trafficTypes | Array | list of traffic types wich should be included into trip proposal calculation. Currently possible: Bike, Bus, Car, CityTrain, Ferry, Metro, Other, RegioTrain, Unknown, Train, Tram, Walk, UBahn. trafficType Other is used in the segments for car rental/parking
routingConstraints | Array of Objects | list of constraints to be taken into account for various traffic types, specified by min/max values. E.q. maximal distance in meters the traveller agrees to walk: {"routingConstraintType": "Distance", "trafficType": "Walk", "min": { "value": 0,"unit": "Meter" }, "max":{"value":600, "unit":"Meter"}}
useBikeSharing | Boolean | use bike sharing services for routing [default: false]
useCarSharing | Boolean | use car sharing services for routing [default: false]

Notes:
- IMR also provides routes in the past, but not for public transport
- route calculation the IMR takes into account information about current traffic situation (traffic jams/road works/...)
- Traveling time costs for proposed journeys include the following extra time: 2 minutes set-up time and 1 minute return time for free-floating car sharing and bike sharing; 2 minutes set-up time and 0 minutes return time for station-based car and bike sharing, 5 minutes parking time for free-floating car sharing and own car




+ Request

    + Headers
    
            Content-Type: application/json
            Accept: application/json

    + Body
        
            {
              "origin": {
                "location": {"type": "Point", "coordinates": [ 13.41100700000004, 52.521642 ]}
              },
              "destination": {
                "location": {"type": "Point", "coordinates": [ 13.319420000000036, 52.56347100000001 ]}
              },
              "time": "2013-07-23T15:10:00+02:00",
              "departureTime":"true",
              "costFunctions": [
                {
                  "costType": "Price",
                  "percentage": 100
                }
              ],
              "userId": "4711/10",
              "trafficTypes": ["Walk","Bike","Car","Metro","CityTrain","Bus"],
              "routingConstraints": [],
              "ownVehicles": [
                {
                    "trafficType": "Car",
                    "location": {"type": "Point", "coordinates": [ 13.41100700000004, 52.521642 ]},
                    "useParking": "false",
                    "useParkAndRide": "true",
                    "cost":{"price":{"price":{"value": 2, "currency":"EURO"},"distance":{"value":1, "unit":"KM"}}, "emission":{"mass":{"value": 2, "unit":"GRAM"},"distance":{"value":1, "unit":"KM"}}}
                },
                {
                    "trafficType": "Bike",
                    "location": {"type": "Point", "coordinates": [ 13.41100700000004, 52.521642 ]}
                } 
              ],
              "maxRoutingResponses": 4,
              "numOfTravelers" : 2,
              "numOfLuggage" : 2,
              "useTrafficSituation" : true
            }

+ Response 200

    [List of Trip Proposals with Basic Info. Intermodal Router][]
