FORMAT: 1A
HOST: https://cluster.production.imp.mobilitaetsdienste.de:8443

# IMP North. Implemented & Dredd testable
This IMP API version 2.
Host V2: https://das-muc-staging-v2.jelastic.dogado.eu:4848
Host V1: https://das-muc-staging-imp.jelastic.dogado.eu:4848
cml host: http://cml-staging.jelastic.dogado.eu only IMR is working


# Group Journey Planner. IMR
This is a group of all IMR journey planner related rest resources.


## List of Trip Proposals with Basic Info. Intermodal Router [/imp-endpoint/api/V2/TripProposals/IMR] 

This collection contains a list of trip proposals with basic information for specified trip criteria. Note: the trip proposals can be multimodal or intermodal, depending on which routing service the user is subscribed to.

The data structure of collection contains a list of trip proposals. Each trip proposal contains the following attributes:

attribute | json data type | comments
--- | --- | ---
url | URI | URI to request more details
origin | Object | start point of the proposed trip
destination | Object | endpoint of the proposed trip
trafficTypes | Array | list of traffic types used in the proposed trip. Possible values: Bike, Bus, Car, CityTrain, Ferry, Metro, Other, RegioTrain, Unknown, Train, Tram, Walk, UBahn. trafficType Other is used in the segments for car rental/parking
description | String | description of the trip proposal
costs | Array | list of costs for the proposed trip including distance, duration, price, etc.

    
+ Model (application/json)

    + Body
    
            {
                "metaData": [
                    {
                        "serviceAlias": "vmzImrRouting",
                        "lastUpdateTime": "2014-12-16T12:26:29+00:00",
                        "messages": []
                    }
                ],
                "tripProposals": [
                    {
                        "url": "TripProposals/IMR/39",
                        "origin": {
                            "location": {
                                "type": "Point",
                                "coordinates": [
                                    13.4113422,
                                    52.5218455
                                ]
                            },
                            "address": "Dircksenstraße, 10178 Berlin, Germany",
                            "time": "2013-07-23T13:10:00+00:00"
                        },
                        "destination": {
                            "location": {
                                "type": "Point",
                                "coordinates": [
                                    13.3194514,
                                    52.5635387
                                ]
                            },
                            "address": "Meteorstraße 40, 13405 Berlin, Germany",
                            "time": "2013-07-23T15:17:54+00:00"
                        },
                        "trafficTypes": [
                            "OwnBike",
                            "Other",
                            "Walk"
                        ],
                        "description": null,
                        "costs": {
                            "distance": {
                                "unit": "Meter",
                                "value": 10264
                            },
                            "duration": {
                                "unit": "Minute",
                                "value": 127.9
                            },
                            "price": {
                                "unit": "Euro",
                                "value": 0.024444444444444442
                            },
                            "emission": {
                                "unit": "Gram",
                                "value": 0
                            },
                            "ticketPrice": null
                        }
                    },
                    {
                        "url": "TripProposals/IMR/40",
                        "origin": {
                            "location": {
                                "type": "Point",
                                "coordinates": [
                                    13.4113422,
                                    52.5218455
                                ]
                            },
                            "address": "Dircksenstraße, 10178 Berlin, Germany",
                            "time": "2013-07-23T13:10:00+00:00"
                        },
                        "destination": {
                            "location": {
                                "type": "Point",
                                "coordinates": [
                                    13.3194514,
                                    52.5635387
                                ]
                            },
                            "address": "Meteorstraße 40, 13405 Berlin, Germany",
                            "time": "2013-07-23T15:16:53+00:00"
                        },
                        "trafficTypes": [
                            "OwnBike",
                            "Other",
                            "Walk"
                        ],
                        "description": null,
                        "costs": {
                            "distance": {
                                "unit": "Meter",
                                "value": 10207
                            },
                            "duration": {
                                "unit": "Minute",
                                "value": 126.88333333333334
                            },
                            "price": {
                                "unit": "Euro",
                                "value": 0.025
                            },
                            "emission": {
                                "unit": "Gram",
                                "value": 0
                            },
                            "ticketPrice": null
                        }
                    }
            }



### Getting Trip Proposals by IMR Planner  [POST]
@testable

Selection criteria for trip proposals is specified in the request body as described in the sample request with the following attributes:

attribute | json data type | comments
--- | --- | ---
origin | Object | start point specified by a geo location (optionally can also include starttime). (addresses can be converted into geo locations by means of "GET /Resources/GeoLocations")
destination | Object | end point specified by a geo location (optional can also include endtime). Note if time in the origin is specified, time in the destination is discarded! If no time is specified current time is taken.
viapoints | Array of Objects | list of geolocations the route should pass
costfunctions | Array of Objects | list of cost factors, (such as Distance, Duration, Price, Emission), each with a percentual weight. Sample custfunction: {"costType":"Duration","percentage":"100"}
ownVehicles | Array of Objects | list of own vehicles which should be included into trip proposal calculation. Sample object value {"trafficType":"Car", "useParking":true,"useParkAndRide":false, "location":{"longitude":13.064472900000055,"latitude":52.3905689,"system":"WGS84"}}
userId | String | traveller id that requests a trip. Note: currently not used by IMP and can be any string
trafficTypes | Array | list of traffic types wich should be included into trip proposal calculation. Currently possible: Bike, Bus, Car, CityTrain, Ferry, Metro, Other, RegioTrain, Unknown, Train, Tram, Walk, UBahn. trafficType Other is used in the segments for car rental/parking
routingConstraints | Array of Objects | list of constraints to be taken into account for various traffic types, specified by min/max values. E.q. maximal distance in meters the traveller agrees to walk: {"routingConstraintType": "Distance", "trafficType": "Walk", "min": { "value": 0,"unit": "Meter" }, "max":{"value":600, "unit":"Meter"}}
useBikeSharing | Boolean | use bike sharing services for routing [default: false]
useCarSharing | Boolean | use car sharing services for routing [default: false]

Notes:
- IMR also provides routes in the past, but not for public transport
- route calculation the IMR takes into account information about current traffic situation (traffic jams/road works/...)
- Traveling time costs for proposed journeys include the following extra time: 2 minutes set-up time and 1 minute return time for free-floating car sharing and bike sharing; 2 minutes set-up time and 0 minutes return time for station-based car and bike sharing, 5 minutes parking time for free-floating car sharing and own car




+ Request

    + Headers
    
            Content-Type: application/json
            Accept: application/json

    + Body
        
            {
              "origin": {
                "location": {"type": "Point", "coordinates": [ 13.41100700000004, 52.521642 ]}
              },
              "destination": {
                "location": {"type": "Point", "coordinates": [ 13.319420000000036, 52.56347100000001 ]}
              },
              "time": "2013-07-23T15:10:00+02:00",
              "departureTime":"true",
              "costFunctions": [
                {
                  "costType": "Price",
                  "percentage": 100
                }
              ],
              "userId": "4711/10",
              "trafficTypes": ["Walk","Bike","Car","Metro","CityTrain","Bus"],
              "routingConstraints": [],
              "ownVehicles": [
                {
                    "trafficType": "Car",
                    "location": {"type": "Point", "coordinates": [ 13.41100700000004, 52.521642 ]},
                    "useParking": "false",
                    "useParkAndRide": "true",
                    "cost":{"price":{"price":{"value": 2, "currency":"EURO"},"distance":{"value":1, "unit":"KM"}}, "emission":{"mass":{"value": 2, "unit":"GRAM"},"distance":{"value":1, "unit":"KM"}}}
                },
                {
                    "trafficType": "Bike",
                    "location": {"type": "Point", "coordinates": [ 13.41100700000004, 52.521642 ]}
                } 
              ],
              "maxRoutingResponses": 4,
              "numOfTravelers" : 2,
              "numOfLuggage" : 2,
              "useTrafficSituation" : true
            }

+ Response 200

    [List of Trip Proposals with Basic Info. Intermodal Router][]
